/* App.css */

.App {
  text-align: center;
  font-family: Arial, sans-serif;
}

/* ... Outros estilos ... */

.App-header {
  background-color: #333;
  padding: 20px;
  color: #fff;
  position: relative;
  z-index: 1;
}


h1 {
  margin: 0;
}

.profile-picture {
  width: 200px; /* Ajuste o tamanho da largura conforme necessário */
  height: 200px; /* Ajuste o tamanho da altura conforme necessário */
  border-radius: 50%;
  position: absolute;
  top: 10px;
  left: 10%;
  transform: translateX(5%);
}

main {
  padding: 20px;
}

section {
  margin-bottom: 40px;
}

h2 {
  margin-top: 0;
}

ul {
  list-style: none;
  padding: 0;
}

li {
  margin-bottom: 10px;
}

.menu {
  margin-top: 40px;
  position: relative;
  z-index: 2;
}

.menu-options {
  display: flex;
  justify-content: center;
  gap: 10px;
}

.menu-options button {
  margin-bottom: 10px;
  font-size: 14px;
  position: relative;
}

.menu-options button:hover {
  background-color: #555;
}

/* textos */

.sobre-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.sobre-text {
  white-space: pre-line;
  font-size: 18px;
  text-align: center;
  font-family: 'Arial', sans-serif;
  line-height: 1.5;
}

#skills {
  background-color: white; /* Altera o fundo da seção Skills para branco */
}

#stack {
  background-color: white; /* Altera o fundo da seção Skills para branco */
}

.experiences-container {
  display: flex;
  overflow-x: hidden;
  width: 100%;
  height: auto; /* Altere para um valor maior */
  margin-bottom: 0; /* Remova o espaço abaixo das imagens */
}

.experiences-item {
  flex-shrink: auto ;
  width: 150px; /* Ajuste o tamanho das imagens conforme necessário */
  height: 150px; /* Ajuste o tamanho das imagens conforme necessário */
  margin-right: 30px; /* Espaço entre as imagens */
  background-size: cover;
  background-position: center;
}

.skills-container {
  display: flex;
  overflow-x: hidden;
  width: 100%;
  height: auto; /* Altere para um valor maior */
  margin-bottom: 0; /* Remova o espaço abaixo das imagens */
}

.skill-item {
  flex-shrink: 0;
  width: 110px; /* Ajuste o tamanho das imagens conforme necessário */
  height: 110px; /* Ajuste o tamanho das imagens conforme necessário */
  margin-right: 20px; /* Espaço entre as imagens */
  background-size: cover;
  background-position: center;
}

.stack-container {
  display: flex;
  overflow-x: hidden;
  width: 100%;
  height: auto; /* Altere para um valor maior */
  margin-bottom: 0; /* Remova o espaço abaixo das imagens */
}

.stack-item {
  flex-shrink: 0;
  width: 100px; /* Ajuste o tamanho das imagens conforme necessário */
  height: 100px; /* Ajuste o tamanho das imagens conforme necessário */
  margin-right: 10px; /* Espaço entre as imagens */
  background-size: cover;
  background-position: center;
}


.section-divider {
  width: 50%; /* Aumenta a largura da linha */
  height: 2px; /* Define a altura da linha */
  background-color: #333; /* Define a cor da linha */
  margin: 20px auto; /* Centraliza a linha horizontalmente e adiciona espaçamento vertical */
}


.stack-item:last-child {
  margin-right: 0;
}

.skill-item:last-child {
  margin-right: 0;
}

.experience-item:last-child {
  margin-right: 0;
}


body {
  overflow-x: hidden; /* Impede a barra de rolagem lateral */
}


.content-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Responsivo para dispositivos móveis */

@media (max-width: 600px) {
  /* Estilos específicos para dispositivos móveis */

  .App {
    overflow-x: hidden; /* Impede a rolagem horizontal */
    width: 100vw; /* Define a largura da página como 100% da largura da viewport */
  }

  .App-header {
    padding: 10px;
  }

  .profile-picture {
    width: 150px;
    height: 150px;
    margin: 0 auto;
    position: static;
    transform: none;
    top: auto;
    left: auto;
    right: auto;
  }

  .App-header {
    padding: 20px;
  }

  h1 {
    font-size: 20px;
    position: relative;
    left: 100px;
  }

  .menu-options {
    flex-direction: column;
    align-items: center;
  }

  .menu-options button {
    margin-bottom: 10px;
    font-size: 14px;
    max-width: 200px;
    width: 100%;
    top: 100px;
  }

  @media (max-width: 600px) {
    .skills-container {
      flex-wrap: wrap;
    }
  
    .skill-item {
      width: 80px;
      height: 80px;
      margin-right: 10px;
      margin-bottom: 10px;
    }
  
    .stack-container {
      flex-wrap: wrap;
    }
  
    .stack-item {
      width: 80px;
      height: 80px;
      margin-right: 10px;
      margin-bottom: 10px;
    }

    .experiences-container {
      flex-wrap: wrap;
    }
  
    .experience-item {
      width: 80px;
      height: 80px;
      margin-right: 10px;
      margin-bottom: 10px;
    }
  }
  

  .sobre-container {
    flex-direction: column;
    align-items: center;
  }

  .sobre-text {
    font-size: 16px;
    text-align: center;
    margin-top: 20px;
  }
  .content-container {
    text-align: center;
    margin-top: 120px;
  }
}
/* Animação da fonte */

.animated-font {
  font-family: 'Arial', sans-serif;
  opacity: 0;
  transform: translateY(20px);
  animation: fadeInUpAnimation 1s forwards;
}

@keyframes fadeInUpAnimation {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

/* Animação do fundo */

@keyframes backgroundAnimation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

/* App.css */

.App {
  text-align: center;
  font-family: Arial, sans-serif;
}

.App-header {
  background-color: #333;
  padding: 20px;
  color: #fff;
  position: relative;
}

h1 {
  margin: 0;
}

.profile-picture {
  width: 200px; /* Ajuste o tamanho da largura conforme necessário */
  height: 200px; /* Ajuste o tamanho da altura conforme necessário */
  border-radius: 50%;
  position: absolute;
  top: 10px;
  left: 10%;
  transform: translateX(5%);
}

main {
  padding: 20px;
}

section {
  margin-bottom: 40px;
}

h2 {
  margin-top: 0;
}

ul {
  list-style: none;
  padding: 0;
}

li {
  margin-bottom: 10px;
}

.menu {
  margin-top: 40px;
}

.menu-options {
  display: flex;
  justify-content: center;
  gap: 10px;
}

.menu-options button {
  background-color: #333;
  color: #fff;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  border-radius: 5px;
  cursor: pointer;
}

.menu-options button:hover {
  background-color: #555;
}

/* textos */

.sobre-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.sobre-text {
  white-space: pre-line;
}

.content-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Animação da fonte */

.animated-font {
  font-family: 'Arial', sans-serif;
  opacity: 0;
  transform: translateY(20px);
  animation: fadeInUpAnimation 1s forwards;
}

@keyframes fadeInUpAnimation {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

/* Animação do fundo */

@keyframes backgroundAnimation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.background-animation {
  animation: backgroundAnimation 10s linear infinite;
  background-image: linear-gradient(45deg, #f5b3d9, #b3a5f5, #a5f5e3);
  background-size: 200% 200%;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 0;
  mix-blend-mode: multiply;
}




