/* App.css */

.App {
  text-align: center;
  font-family: Arial, sans-serif;
  max-width: 600px;
  margin: 0 auto;
}

.App-header {
  background-color: #333;
  padding: 10px;
  color: #fff;
  position: relative;
  font-size: 24px;
}

h1 {
  margin: 0;
}

.profile-picture {
  width: 30vw;
  height: 30vw;
  max-width: 200px;
  max-height: 200px;
  border-radius: 50%;
  position: absolute;
  top: 10px;
  left: 10%;
  transform: translateX(5%);
}

main {
  padding: 20px;
}

section {
  margin-bottom: 20px;
}

h2 {
  margin-top: 0;
}

ul {
  list-style: none;
  padding: 0;
}

li {
  margin-bottom: 10px;
}

.menu {
  margin-top: 40px;
}

.menu-options {
  display: flex;
  justify-content: center;
  gap: 10px;
}

.menu-options button {
  background-color: #333;
  color: #fff;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  border-radius: 5px;
  cursor: pointer;
}

.menu-options button:hover {
  background-color: #555;
}

/* textos */

.sobre-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.sobre-text {
  white-space: pre-line;
}

.content-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
